footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
    .footer-logo-container {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

   .footer-logo-center {
    width: 100px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 6px 10px rgba(252, 251, 251, 0.1);
    transition: box-shadow 0.3s ease;
}

.footer-logo-center:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
    .footer-bottom-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 960px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .footer-social-icons {
        display: flex;
        gap: 15px;
        margin-right: 20px;

        svg {
            font-size: 24px;
            box-shadow: 0px 8px 10px rgba(250, 247, 247, 0.1);
            transition: box-shadow 0.3s ease;
}

        svg:hover {
            color: #0c0a0a;
            box-shadow: 0px 6px 12px rgba(66, 64, 64, 0.15);
        }
    }

    p {
        font-size: 0.8em;
        margin: 0;
        color: #666;
    }
}